/*------------------------------------*\
    變數設定
/*------------------------------------*\

/* ------------------- 顏色設定 ------------------- */

$color-primary: #AA0601
$color-secondary: #FBF2F2
$color-third: #650300

$color-lightGary: #DEE2E6
$color-gary: #00000029
$color-darkGary: #707070
$color-lightGary: #DCDCDC

$color-white: white
$color-black: black