/*------------------------------------*\
    商品列表設定
/*------------------------------------*\

.product

    // 共用商品列表樣式
    &-list
        margin-top: 32px
        display: flex
        justify-content: center
        flex-wrap: wrap

        &-content
            +flexGrid(space-between)

        &-num
            +fontSize(24px, 36px)

        &-price
            +fontSize(24px, 36px)
            color: $color-primary

        &-colors
            display: flex

        &-color
            +size(24px)
            border-radius: 4px
            margin-right: 8px

            &.dark-brown
                background-color: $color-darkBrown
            &.light-brown
                background-color: $color-lightBrown
    
    // optical 商品列表
    &-optical

        &-item
            width: 23%
            margin: 0 24px 80px 0

            &:nth-child(4n)
                margin-right: 0

            +respond-to('phone')
                width: 48%

                &:nth-child(2n)
                    margin-right: 0

            +respond-to('sphone')
                width: 100%
                margin: 0 0 24px 0
                &:last-child
                    margin: 0 0 64px 0

        &-img
            height: 224px

    &-sunglasses

        &-item
            width: 30%
            margin: 0 24px 80px 0

            &:nth-child(3n)
                margin-right: 0

            +respond-to('phone')
                width: 48%

                &:nth-child(2n)
                    margin-right: 0

            +respond-to('sphone')
                width: 100%
                margin: 0 0 24px 0
                &:last-child
                    margin: 0 0 64px 0

        &-img
            height: 224px

