/*------------------------------------*\
    門市據點列表
/*------------------------------------*\

.store

    &-list
        display: flex
        flex-wrap: wrap

    &-card

        // 總門市據點介面列表
        &-introduction
            width: 30%
            margin-right: 24px
            &:nth-child(3n)
                margin: 0 0 48px 0

            +respond-to('phone')
                width: 48%
                &:nth-child(3n)
                    margin-right: 24px
                &:nth-child(2n)
                    margin: 0 0 48px 0

            +respond-to('sphone')
                width: 100%
                margin-right: 0
                margin-bottom: 24px
                &:nth-child(3n),
                &:nth-child(2n)
                    margin-right: 0
                    margin-bottom: 24px

        // 門市資訊介面列表
        &-detail
            width: 40%
            margin-right: 24px

            +respond-to('phone')
                width: 100%
                display: flex
                margin: 0 0 24px 0

            >.store-card-img
                width: 50%
                margin-right: 24px

            >.store-card-content
                width: 50%

            +respond-to('sphone')
                flex-direction: column
                >.store-card-img
                    width: 100%
                    margin-right: 0

                >.store-card-content
                    width: 100%

        &-info
            display: flex
            margin-bottom: 8px
            &:last-child
                margin-bottom: 0px

        &-img
            height: 224px

        &-title
            +fontSize(24px, 36px)
            padding: 8px 24px
            border: 1px solid $color-gary
        
        &-list
            +fontSize(20px, 30px)
            padding: 16px 24px
            border: 1px solid $color-gary

        &-icon
            +size(24px)
            margin-right: 10px 

        // 詳情按鈕
        &-btn
            +fontSize(19px, 27px)
            display: inline-block
            width: 100%
            text-align: center
            padding: 16px 0
            background-color: $color-black
            color: $color-white
            transition: .3s
            
            @extend .border-none
            @extend .hover-btn-animation