/*------------------------------------*\
    下拉選單設定
/*------------------------------------*\

.dropdown-select
    display: flex
    align-items: center
    margin-bottom: 40px

    &-label
        +fontSize(24px, 36px)
        margin-right: 16px

    &-list
        +fontSize(18px, 26px)
        width: 304px
        padding: 6px 12px
        color: #495057