/*------------------------------------*\
    搜尋欄導覽列設定
/*------------------------------------*\

.search

    &-menu
        background-color: $color-third

        >.container
            +flexGrid(space-between)

    &-navbar
        display: flex

        &-link
            display: inline-block
            padding: 13px 0
            margin-right: 48px
            color: $color-white
            transition: .3s
            &:hover
                color: #ffba08