/*------------------------------------*\
    商品導覽列設定
/*------------------------------------*\
    
.subNavbar
    display: flex
    margin: 0 auto
    padding: 0 12px
    max-width: 1320px

    +respond-to('phone')
        padding: 0

    &-item
        width: 33%
        +respond-to('phone')
            flex: 1


    &-link
        display: inline-block
        width: 100%
        text-align: center
        padding: 24px 0
        border: 1px solid #DCDCDC
        color: $color-black
        position: relative
        +fontSize(32px,48px)

        +respond-to('phone')
            +fontSize(24px,36px)
        +respond-to('sphone')
            +fontSize(16px,24px)
            padding: 16px 12px

        &::after
            content: ''
            position: absolute
            left: 0
            bottom: 0

        &.active
            &::after
                +size(100%,8px)
                background-color: $color-primary

        &:hover
            &::after
                +size(100%,8px)
                background-color: $color-primary